// header

.header {
  background-color: $light-color;
  padding: 0.5em;
  height: auto;
}

.logoHeader {
  height: 10em;
}

.logo {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.itemMenu {
  font-family: $font-titleh2;
  font-size: x-large;
  color: $text-color;
  padding-right: 2em;
  @include tablette {
    font-size: larger;
  }
}

.menu .itemMenu a {
  text-decoration: none;
  color: $text-color;
}

.menu .itemMenu a:hover {
  color: $darkorange-color;
}

i {
  color: $logo-color;
  margin: 0.2em;
  font-size: x-large;
}

.iconI {
  position: absolute;
  top: 5px;
  left: 5px;
}

.iconU {
  position: absolute;
  top: 5px;
  right: 5px;
}

.iconFB {
  position: absolute;
  top: 40px;
  left: 5px;
}

// Footer

.footer {
  background-color: $dark-color;
  padding: 0.1em;
  height: auto;
  margin-top: 0;
}

.pFooter {
  color: $light-color;
  font-family: $font-main;
}

.footerCol1 i {
  color: $light-color;
}

.footerCol1 p,
.footerCol1 i {
  text-align: center;
  font-size: x-large;
  @include tablette {
    font-size: larger;
  }
}

.footerCol2 p {
  text-align: end;
  margin-bottom: 0;
}

.footerCol4 p {
  margin-bottom: 0;
}

.footerCol3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFooter {
  width: auto;
  height: 135px;
}

.pFooter a {
  text-decoration: none;
  color: $light-color;
}

.pFooter a:hover {
  color: $darkorange-color;
}

.footerCol5 p {
  font-size: x-large;
  text-align: center;
  margin-right: 2em;
  @include mobile {
    display: none;
  }
  @include tablette {
    font-size: larger;
  }
}

.footerCol5,
.footerCol1,
.footerCol2,
.footerCol4 {
  align-content: center;
}

.copyright {
  color: $light-color;
  font-size: x-small;
  text-align: center;
}

// Pâtisserie de la semaine

.patSemaine {
  padding: 2em;
  padding-top: 0;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.imagePatSemaineDiv {
  @include tablette {
    width: 15em;
    height: 12em;
  }

  @include desktop {
    width: 25em;
    height: 15em;
  }

  border: solid 2px $text-color;
  border-radius: 10px;
}

.imagePatisserieSemaine {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.titrePatSemaine {
  color: $text-color;
  text-align: center;
  font-size: xx-large;
  font-family: $font-titleh2;
}
