// Home

.home {
  margin-bottom: 0;
}

.home *:last-child {
  margin-bottom: 0;
}

.bande1 {
  background-color: $lightorange-color;
}

.bande1 h1 {
  color: $text-color;
  text-align: center;
  padding: 0.5em;
  letter-spacing: 0.1em;
}

.bande2 {
  background-color: $darkorange-color;
  border: solid 2px $text-color;
}

.bande2 h2 {
  color: $light-color;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}
